[class*='flex-'] { display: flex; }

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.flex-align-center { align-items: center; }

.flex-justify-end { justify-content: flex-end; }
.flex-justify-start { justify-content: flex-start; }
